<main class="contenedor">
	<form action="/vacantes/editar/{{vacante.url}}" method="POST" class="default-form">
		<h3>Información General</h3>
		<div class="campo">
			<label>Título</label>
			<input type="text" name="titulo" placeholder="Ej: React Developer" value="{{vacante.titulo}}" required>
		</div>
		<div class="campo">
			<label>Empresa</label>
			<input type="text" name="empresa" placeholder="Empresa contrata" value="{{vacante.empresa}}" required>
		</div>
		<div class="campo">
			<label>Ubicacion</label>
			<input type="text" name="ubicacion" placeholder="Ej: Costa Rica o Remoto"  value="{{vacante.ubicacion}}" required>
		</div>
		<div class="campo">
			<label>Salario(USD)</label>
			<input type="number" name="salario" placeholder="Ej: 1200" value="{{vacante.salario}}" required>
		</div>
		<div class="campo">
			<label>Contrato</label>
			<select name="contrato">
				{{#tipoContrato vacante.contrato}}
					<option value="" disabled selected> Seleccione Tipo Contrato</option>
					<option value="freelance">Freelance</option>
					<option value="fulltime">Tiempo Completo</option>
					<option value="halftime">Medio Tiempo</option>
					<option value="perproject">Por Proyecto</option>
				{{/tipoContrato}}
			</select>
		</div>
		<h3>Descripción del Puesto</h3>
		<div class="campo descripcion">
			<label>Descripción</label>
			<input type="hidden" value="{{{vacante.descripcion}}}" name="descripcion" id="x"> <!-- mapear este input con el input de trix-editor-->
			<trix-editor input="x"></trix-editor>
		</div>
		<h3>Habilidades</h3>
		<ul class="lista-conocimientos">
		 {{#seleccionarSkills vacante.skills}}

		 {{/seleccionarSkills}}  
		</ul>
		<div class="campo centrar-horizontal">
			<input type="hidden" name="skills" id="skills">
			<input type="submit" value="Guardar Cambios" class="btn btn-azul">
		</div>
	</form>
</main>